body {
  font-family: "Arial", sans-serif;
  background-color: #282a36; /* Background color */
  color: #f8f8f2; /* Text color */
  margin: 0;
  padding: 0;
}

header {
  background-color: #44475a; /* Header background */
  padding: 20px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 90px;
  height: 200px;
  width: 200px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #bd93f9; /* Link color */
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: #44475a; /* Section background */
}

.project {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #6272a4; /* Project border */
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #44475a; /* Footer background */
  position: relative;
  bottom: 0;
  width: 100%;
}
